<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电子相册</title>
    <link href="../css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="ealbum">
    <div class="text">电子相册图片轮播</div>
    <div class="album">
        <div class="image1">
            <img src="" id="pic1"/>
        </div>
        <div class="image0">
            <img src="" alt="图片" id="pic0"/>
        </div>
        <div class="image2">
            <img src="" id="pic2"/>
        </div>
    </div>
</div>
<script src="../js/index.js"></script>
</body>
</html>